# URL Base de la API PHP para desarrollo/producción
VITE_API_BASE_URL=http://192.168.68.124:8000/api

# Client ID de Google Cloud Console para Web (Tipo Aplicación Web)
VITE_GOOGLE_CLIENT_ID=

# Client ID de Google Cloud Console para iOS (Tipo iOS)
VITE_GOOGLE_IOS_CLIENT_ID=56637027170-k92nrrj240km80psq40kkc4p42a7pg6r.apps.googleusercontent.com
